@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

button {
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 5px;
}


.add-btn {
  background-color: #007bff;
}

.remove-btn {
  background-color: #dc5635;
}

.task-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 22px);
  margin-bottom: 10px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
}

.task-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .task-input, button {
    width: 100%;
  }
}
